* {
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;

}

body {
    background-color: whitesmoke;
}

h1 a {
    background-color: black;
    text-decoration: yellow;
}

img {
    width: 100%;
}

.title_name {
    align-self: center;
}

a {
    text-decoration: none;
}

ul, ol, ul li, ol li {
    list-style: none;
}

.site-header {
    height: 70px;
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
}

.site-header {
    background-color: lightskyblue;
}

.site-nav {
    background-color: lightskyblue;
}

.site-nav ul {
    background-color: lightskyblue;
}


.site-header li {
    background-color: lightskyblue;

    color: azure;
    display: inline-flex;
    align-items: center;
}


.site-header a {
    color: white
}

.site-header a:hover {
    background-color: whitesmoke;
    color: blue;
    font-style: oblique;
    font-size: 1.2em;
    text-decoration: none;
}

.site-nav {
    align-self: center;
    padding: 5px 20px;
}

.products-list {
    height: 1024px;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 20px;

}

li img {
    margin-top: 5px;
    border-radius: 20px;
    border: 2px solid aqua;
}

.product {
    height: 200px;
    width: 200px;
    display: flex;
    /*align-items: center;*/
    flex-wrap: nowrap;
    flex-direction: column;
    /*align-content: space-evenly;*/
    /*justify-content: space-between;*/
}

.products-list li a {
    color: black;
    font-size: 25px;
    font-style: italic;
}


.images-product img {
    width: 20px;
}

.images-product-details-ul {
    width: 800px;
    height: 600px;
    padding-top: 50px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;


}
.images-product-details-ul li{
    padding-left: 20px;
        height: 400px;

}

.images-product-details img {

    width: 100%;
    margin: auto;
    display: list-item;

}

